@import url('https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

$primary: #d32f2f;
$secondary: #ff9800;
$enable-responsive-font-sizes: true;

$table-selected: #ffecb3;
$light-blue: #03a9f4;
$yellow-darken-3: #f9a825;
$deep-orange-darken-2: #e64a19;
$cyan-lighten-3: #80deea;
$light-green-lighten-4: #dcedc8;
$red-lighten-4: #ffcdd2;
$red-lighten-2: #e57373;
$grey-lighten-2: #e0e0e0;
$grey-lighten-3: #eeeeee;
$grey-lighten-4: #f5f5f5;
$grey-lighten-5: #fafafa;
$grey: #9e9e9e;
$brown-lighten-4: #d7ccc8;
$grey-lighten-5: #fafafa;
$transparent: rgba(0, 0, 0, 0);

$z-index-navbar: 100;

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: Heebo !important;
}

body.overlay-open {
  overflow: hidden;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
}

.vertical-center {
  width: 100%;
}

.jumbotron {
  background-color: #b71c1c !important;
  color: white;
}

.toggler:active, .toggler:hover, .toggler:focus {
  background-color: inherit !important;
  border-color: $transparent !important;
  transition: border-color 0s !important;
}

.logout-btn {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.form-control:focus {
  border-color: $cyan-lighten-3 !important;
}

.form-control:focus, .btn:focus, .btn.focus {
  box-shadow: none !important;
}

.user-id-label {
  font-size: 1rem !important;
}

.user-id-label.button {
  background-color: rgba(0, 0, 0, 0.075);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

#user-id-show:focus {
  box-shadow: none;
  outline: none;
}

.popover.user-info .popover-header {
  background-color: $primary;
  color: white;
}

.popover.user-info .popover-header::before {
  border: none;
}

.popover.user-info .arrow::after {
  border-bottom-color: $primary;
}

.floating {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: $z-index-navbar - 1;
  margin: 0 auto;
}

.toast {
  max-width: none !important;
}

.toast.error {
  background-color: $red-lighten-4;
  border-color: $red-lighten-2;
}

// Page selectors & secondary buttons

.page-selector {
  background-color: $transparent !important;
  border-color: $transparent !important;
  border-radius: 0 !important;
  transition: none !important;
}

.page-selector:hover {
  background-color: $grey-lighten-3 !important;
}

.page-selector:hover, .page-selector:focus, .page-selector:active {
  color: inherit !important;
}

.page-selector.page-selector-arrow,
.page-selector.page-selected {
  background-color: $secondary !important;
}

.page-selector.page-selector-arrow:hover,
.page-selector.page-selected:hover {
  color: white !important;
}

.btn {
  border-radius: 0 !important;
}

.page-selector.first-page {
  border-right: 1px solid $grey-lighten-2 !important;
}

.page-selector.last-page {
  border-left: 1px solid $grey-lighten-2 !important;
}

// Tables

.company-summary-container {

}

.company-summary {
  background-color: $grey-lighten-5;
  transition: background-color 0.5s;
}

.company-summary.first {
  margin-top: 0 !important;
}

.company-summary.last {
  margin-bottom: 0 !important;
}

.company-summary:hover {
  background-color: darken($grey-lighten-5, 3%);
  cursor: pointer;
  // transition: background-color 0.5s;
}

.company-summary-field::before {
  content: "•";
  margin-right: 0.3rem;
}

.table-hover tbody tr:hover:nth-child(odd) {
  cursor: pointer;
  background-color: $table-selected !important;
}

.table-hover tbody tr:hover:nth-child(even) {
  cursor: pointer;
  background-color: lighten($table-selected, 5%) !important;
}

.results-table tbody tr td {
  border-top: none;
}

.results-table tbody tr:not(:last-child) td {
  border-bottom: none;
}

.mobile-collapse-link {
  color: rgba(255, 255, 255, 0.5) !important;
}

.mobile-collapse-link:active, .mobile-collapse-link:focus, .mobile-collapse-link.active {
  color: rgba(255, 255, 255, 1) !important;
}

// Icons

.icon-invisible {
  color: $transparent;
}

.icon-button {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
}

.icon-button:hover {
  color: black;
}

.icon-button.bordered {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.10);
}

.icon-transparent {
  color: rgba(0, 0, 0, 0.25);
}

.location-filterer {
  color: rgba(0, 0, 0, 0.2);
  transition: color 0.25s;
}

.location-filterer:not(.active):hover {
  color: #81d4fa;
}

.location-filterer.active {
  color: $light-blue;
}

.location-filterer.active:hover {
  color: #01579b;
}

.saved-star {
  color: $yellow-darken-3;
  width: auto;
}

.saved-star:hover {
  color: $deep-orange-darken-2;
  cursor: pointer;
}

.warning-icon {
  color: $yellow-darken-3;
}

.row.simple-regex-container {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  flex-wrap: nowrap;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.simple-regex {
  display: inline;
  font-family: "Viga", sans-serif;
  border-radius: 0.40rem;
}

.loading-table-overlay {
  max-width: 192px;
  max-height: 192px;
  height: 80% !important;
  width: 80% !important;
}

.form-control.input-field-invalid {
  box-shadow: 0 0 3px red !important;
  border-color: red !important;
}

.table-overlay {
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
}

.overlay {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, -100%, 0);
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}

.field-header.card-header {
  background-color: $grey-lighten-5;
}

.field-header.card-header.no-content {
  border-bottom: $transparent;
}

.field-modified.field-header {
  background-color: $light-green-lighten-4;
}

.field-deleted.field-header {
  background-color: $red-lighten-4;
}

.internship-box {
  border: 1px solid $grey-lighten-5;
  border-radius: 1.5rem;
  background-color: white;
}

.py-2-5 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.details-table tbody tr td:first-child {
  width: 33%;
}

.activity-container {
  border: 1px solid $grey-lighten-5;
  height: 100%;
  background-color: white;
  border-radius: 1rem;
}

.internship-card .card-header {
  // background-color: saturate($brown-lighten-4, 20%);
  // border: 1px solid darken($brown-lighten-4, 10%);
  background-color: rgba(0,0,0,0);
  border: none;
}

.card.internship-card {
  border: none;
  border-radius: 0;
}

.card.internship-card .internship-card-body {
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

// Navbar

.mobile-navbar {
  z-index: $z-index-navbar;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
  transform: translate3d(-100%, 0, 0);

  background-color: $primary;
  color: black;
}

.mobile-navbar .mobile-header {
  background-color: $primary;
  color: white;
}

.mobile-navlink {
  border-top: 1px solid darken($primary, 20%);
}

.mobile-navlink ~ .mobile-navlink {
  border-top: none;
}

.mobile-navlink {
  border-bottom: 1px solid darken($primary, 20%);
}

.mobile-navbar.active {
  transform: translate3d(0, 0, 0);
}

.menu-icon {
  width: 0.875em*1.5 !important;
  height: 0.875em*1.5 !important;
}

.fullscreen-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  z-index: $z-index-navbar;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.btn.fab {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15) !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

// Error page

.c-error-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.c-error-view {
  position: relative;
}

.c-error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-icon {
  color: rgba(0, 0, 0, 0.25);
  font-size: 20rem;
}

// Material loading

.infinite-loader-container {
  background-color: lighten($secondary, 20%);
  position: relative;
  overflow: hidden;
  width: 100%;
}

.infinite-loader {
  background-color: darken($secondary, 7%);
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  transition-property: left, right;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: linear;
}

// Maps

.map.company-details, .map.search {
  width: 100%;
  height: 50vh;
}

.map.loading {
  background-color: $grey-lighten-3;
}

.map-overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.km-range-display {
  position: relative;
  margin-bottom: 0;
  color: white;
  border-top-right-radius: 1rem;
  display: inline-block;
  transform: translate3d(0, -100%, 0);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

// Slider

.slider {
  width: 100%;
}

input[type=range] {
  appearance: none;
  background-color: $grey-lighten-3;
  width: 100%;
  height: 10px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: $secondary;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: $secondary;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: $secondary;
  cursor: pointer;
}

// Fake links

span.fake-link {
     cursor: pointer;
     color: $light-blue;
     text-decoration: underline;
}

span.fake-link:hover {
     text-decoration:none;
}

@import '~bootstrap/scss/bootstrap';
