@import url('https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap');

$primary: #e53935;
$secondary: #ff8f00;

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Heebo";
}

.jumbotron {
  background-color: #b71c1c!important;
  color: white;
}

input, select,
.btn-primary:focus,
.btn-primary:active,
.btn-secondary:focus,
.btn-secondary:active {
    box-shadow:none!important;
    outline:0px;
}

input:focus, select:focus {
  border-color: #ffca28!important;
}

.page-selector-selected {
  background-color: #e65100!important;
  border-color: #e65100!important;
}

.btn-secondary:not(:hover):not(.page-selector-selected):focus {
  background-color: $secondary!important;
  border-color: $secondary!important;
  color: inherit!important;
}

.table-hover tbody tr:hover {
  cursor: pointer;
  background-color: #b3e5fc;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

@import '~bootstrap/scss/bootstrap';
